@import url('https://rsms.me/inter/inter.css');

html, body {
    background: linear-gradient(90deg, rgb(41, 2, 78) 0%, rgba(61,7,131,1) 35%, rgba(61,7,131,1) 100%);
    font-family: 'Inter', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 8em;
    opacity: 0.4;
}

h4, h3 {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

label {
    color: ivory;
    font-size: 2.5em;
    font-weight: bold;
    padding-bottom: 15px;
    text-shadow: 1px 1px 4px rgb(35, 7, 49);
}

input[type="text"] {
    font-family: 'Inter';
    font-size: 1.5em;
}

#submitBtn {
    background-color: #62529c;
    border: none;
    color: ivory;
    border-radius: 50%;
    text-decoration: none;
    margin: 4px;
    width: 3em;
    height: 3em;
    cursor: pointer;
    font-weight: 900;
}

#location {
    padding: 1em;
}

.weatherInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cityName {
    font-size: 6em;
    opacity: 0.4;
    text-align: center;
}

.inputSection {
    box-shadow: 10px 10px 10px rgb(35, 7, 49);
    display: flex;
    align-items: center;
}

.weatherGrid {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    grid-template-areas: "temp icon wind" "temp icon humidity" "feelsLike description visibility";
    justify-items: center;
    align-items: center;
}

.weatherLines {
    color: orange;
    font-weight: 900;
}

#temp {
    grid-area: temp;
    font-weight: 900;
    font-size: 4em;
    color: ivory;
}

#feelsLike {
    grid-area: feelsLike;
}

#icon {
    grid-area: icon;
    font-size: 80px;
    margin: 0;
    width: 75px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#description {
    grid-area: description;
}

#wind {
    grid-area: wind;
}

#humidity {
    grid-area: humidity;
}

#visibility {
    grid-area: visibility;
}

#resetIcon {
    cursor: pointer;
}

#loader {
    position: absolute;
    align-self: center;
    top: 80%;
    z-index: 1;
    border: 16px solid ivory;
    border-top: 16px solid #24044e;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}